/* pc header */
.logo{
    align-items: center;
    display: flex;
}
.logo img{
    width: 48px;
    height: 48px;
}
.logo span{
    font-size: 24px;
    padding-left: 5px;
}
.register{
    float: right!important;
}
/* pc footer */
.footer{
    text-align: center;
}

/* pc footer */
.container{
    padding-top: 10px;
}
.container .leftContainer{
    width: 400px;
    float: left;
}
.container .leftContainer .carousel{
    width: 400px;
    float: left;
}
.container .leftContainer .carousel img{
    width: 400px;
    height: auto;
}